.react-tabs__tab--selected{
    background: rgb(241 245 249);
    /* border-color: #aaa; */
    color: #1d4ed8;
    font-weight: bolder;
    /* border-radius: 5px 5px 0 0; */
}

.react-tabs__tab-panel--selected{
    display: block;
}